.git
.gitignore
.venv
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo

data/
exp/
workspace/
pretrained/

egs/3dspeaker/sv-cam++/data/
egs/3dspeaker/sv-cam++/exp/

note/compare_codec/
my_methods/note/*.csv

*.ipynb
